@import "tailwindcss";

@font-face{
    font-family: 'Ephesis';
    src: url('/assets/fonts/Ephesis.woff2') format('woff2');
    font-display: swap;
}
@font-face{
    font-family: 'BebasNeue';
    src: url('/assets/fonts/BebasNeue.woff2') format('woff2');
    font-display: swap;
}
@font-face{
    font-family: 'MuseoModerno';
    src: url('/assets/fonts/MuseoModerno.woff2') format('woff2');
    font-display: swap;
}

@theme{
    --color-primary: #393654;
    --color-secondary: #98e7c2; 
    --color-secondary-dark: #5ac191;

    --font-display: 'Ephesis', system-ui, sans-serif;
    --font-title: 'BebasNeue', system-ui, sans-serif;
    --font-habilidades: 'MuseoModerno', system-ui, sans-serif;
}